html, body{

    box-sizing: border-box;
    margin: 0;
    padding: 0 30px;
    background: #333;
}

p{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
#wrapper{

    background: rgb(187, 9, 9);
    font-size: 2em;
    color: rgba(253, 190, 16, 0.849);
}

#title{

    height: 100vh;
    width: 35%;
    margin: 0 auto;
    background: rgb(4, 4, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    letter-spacing: .1em;

}

#title-begin{

    text-transform: uppercase;
}

#title-end p{

    font-size: 3em;
}

#author{

    color: rgba(253, 190, 16, 0.849);
}



